body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #e094ac;
}

h1 {
  color: #fbe4f0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
